<h1 mat-dialog-title>Timeline</h1>
<div mat-dialog-content>
    <div class="container">
        <div class="wrapper">
          <h1> A day in my 'sleepy' life 😅</h1>
          <ul class="sessions">
            <li>
              <div class="time">09:00 AM</div>
              <p>How is it already 9:00? Just how??? 🤯🤯</p>
            </li>
            <li>
              <div class="time">09:05 AM</div>
              <p>Few more minutes of sleep won't do anyone any harm 🤷..</p>
            </li>
            <li>
              <div class="time">09:30 AM</div>
              <p>Get up or get kicked in the ass. (A very asian thing 🙄) </p>
            </li>
     
           
          </ul>
        </div>
      </div> 
    
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>