<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Update Actualité</h2>
                <form enctype="multipart/form-data" (ngSubmit)="onSubmit()" #f="ngForm" >
                    <div class="row row-space">
                        
                         <div class="col-6">
                            <div class="input-group">
                                <label style="font-size: 15px;font-family: Poppins;">Titre</label>
                                <input class="input--style-1" type="text" [(ngModel)]="actualite.title"  name="num-id">
                                
                            </div>

                        </div>
                    </div>
                    <div class="input-group">
                        <label style="font-size: 15px;font-family: Poppins;">Description</label>
                        <input class="input--style-1" type="text" [(ngModel)]="actualite.description" #description="ngModel" name="Identifiant">
                    </div>
                    <div class="row row-space">
                        <div class="col-5">
                            <div id="captcha" class="input-group">
                                
                                <input style="width: 500px;" class="input--style-1" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png" [(ngModel)]="actualite.img" #img="ngModel" type="file" placeholder=" SAISIR LE CODE SUIVANT" name="img">
                                <!-- <p>{{img}}</p> -->
                            </div>

                        </div>
                    </div> 
               
                    
                    <div class="p-t-20">
                        <button class="btn btn--radius btn--blue" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


