/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* body{
    background-color: #E5E5E5;
} */

/* html { height: 100%;
 } */
html,body {
    height: 100%;;
     margin: 0; font-family:"Poppins"," Roboto", "Helvetica Neue", sans-serif; 
     /* background-color:#E5E5E5; */
    
    }
    /* :host(body) {background-color: red !important;} */
h1,h2,h3,h4,p{
    color:#334D6E;
    font-family: 'Poppins','Courier New', Courier, monospace;
}